# Análise de dados com a biblioteca Pandas

In [26]:
# importação das bibliotecas
import pandas as pd

In [27]:
#importação do arquivo 
df = pd.read_csv("datasets/Gapminder.csv", error_bad_lines=False, sep=";")

#vizualização das primeiras linhas
df.head()

/tmp/ipykernel_23755/2692808686.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("datasets/Gapminder.csv", error_bad_lines=False, sep=";")

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [28]:
# Renomeando as colunas
df = df.rename(columns={"country":"Pais", "continent":"continente","year":"ano", "lifeExp":"Expectativa de vida", "pop":"Pop Total", "gdpPercap": "PIB"})
df.head()

          Pais continente   ano  Expectativa de vida  Pop Total         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106

In [29]:
# total de linhas e colunas; total de colunas e tipos das colunas
df.shape
df.columns
df.dtypes

Pais                    object
continente              object
ano                      int64
Expectativa de vida    float64
Pop Total                int64
PIB                    float64
dtype: object

- `df.describe()` retorna informações estatísticas do conjunto de dados
- `df[chave].unique()` retorna os dados únicos daquela coluna.
- O `loc[]` realiza filtros no DataFrame.
- `groupby()` realiza um agrupamento através de um mapeamento ou colunas

In [30]:
#retorna as 15 últimas linhas
#df.tail 

df.describe()
df['continente'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [31]:
oceania = df.loc[df['continente']== 'Oceania']
oceania.head()

     Pais continente   ano  Expectativa de vida  Pop Total          PIB
975  Fiji    Oceania  1962               56.494     421869  2039.393277
976  Fiji    Oceania  1967               58.607     485000  2170.073285
977  Fiji    Oceania  1972               60.642     544000  2797.759484
978  Fiji    Oceania  1977               62.669     599339  3182.569600
979  Fiji    Oceania  1982               64.683     658906  3209.257468

In [32]:
# retorna a contagem dos países de cada continente
df.groupby('continente')['Pais'].nunique()

continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64

In [33]:
df.groupby('ano')['Expectativa de vida'].mean()

ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283438
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921562
2005    76.718667
2006    77.887778
2007    67.868557
Name: Expectativa de vida, dtype: float64